.mat-form-field {
    display: block;
}

.mat-form-field::ng-deep .mat-form-field-flex {
    padding: 0 .75em 0 .75em;
}

.mat-form-field::ng-deep .mat-form-field-suffix {
    top: 5px;
}

.mat-form-field::ng-deep .mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-flex {
    background-color: #ffffffb0;
}

input {
    text-align: center;
    color: #3C4858;
    font-weight: 200;
}