<!--<mat-form-field appearance="fill">
  <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker touchUi  #picker ></mat-datepicker>
</mat-form-field>-->

<button mat-raised-button (click)="dp1.open()">
  <input matInput type="text" name="{{contenido.data.id}}" [matDatepicker]="dp1" [max]="maxDate" [attr.required]="contenido.data.isRequired"
  [formControl]="formControl" readonly>
</button>
<mat-datepicker #dp1 touchUi="true" disabled="false"></mat-datepicker>
<!-- <mat-form-field appearance="fill" id="{{contenido.data.id}}"> -->
  <!--<input matInput type="text" name="{{contenido.data.id}}" [matDatepicker]="dp1" [min]="minDate" [max]="maxDate" [attr.required]="contenido.data.isRequired"
    [formControl]="formControl" [disableControl]="!contenido.data.isSeteable">-->

  <!-- <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error> -->

  <!--<mat-datepicker-toggle
        matSuffix
        [for]="dp1"
    ></mat-datepicker-toggle>-->
  <!--<mat-datepicker #dp1 touchUi="true" disabled="false"></mat-datepicker>
</mat-form-field>-->