#buscador_select {
    padding: 10px;
    border: 1px solid;
    border-color: #4e98c7;
    mat-icon {
        position: absolute;
    }
    input {
        padding-left: 30px;
    }
}

mat-form-field::ng-deep .mat-select-value {
    color: #495057;
}

mat-form-field {
    width: inherit;
    margin: 15px 0px 25px;
}
