<mat-form-field
    id="{{contenido.data.id}}"
    appearance="outline"
>
    <mat-label *ngIf="contenido.data.label.hasLabel">{{contenido.data.label.texto}}</mat-label>
    <mat-select
        #searchSelect
        placeholder="Choose one"
        [required]="contenido.data.isRequired"
        [formControl]="formControl"
        [errorStateMatcher]="matcher"
        (valueChange)="selectChange($event)"
    >
        <div id="buscador_select">
            <mat-icon matPrefix>search</mat-icon>
            <input
                matInput
                placeholder="{{contenido.data.placeholder}}"
                [ngModel]="searchValue"
                (ngModelChange)="buscar($event)"
                [ngModelOptions]="{standalone: true}"
                (keydown)="$event.stopPropagation()"
            >
        </div>
        <mat-option
            #optionSelect
            *ngFor="let option of contenido.data.options"
            [value]="option.local_key"
            (keydown)="$event.stopPropagation()"
        >
            {{ option.local }}
        </mat-option>
    </mat-select>
    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
</mat-form-field>