$color-financiera: (
    50: #69dfff,
    100: #69dfff,
    200: #69dfff,
    300: #69dfff,
    400: #69dfff,
    500: #0fadf1,
    600: #0fadf1,
    700: #0fadf1,
    800: #0fadf1,
    900: #0fadf1,
    A100: #007ebe,
    A200: #007ebe,
    A400: #007ebe,
    A700: #007ebe,
    contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$complementario-financiera:(
    50:#fd7e14,
    100:#fd7e14,
    200:#fd7e14,
    300:#fd7e14,
    400:#fd7e14,
    500: #e74c3c,
    600: #e74c3c,
    700: #e74c3c,
    800: #e74c3c,
    900: #e74c3c,
    A100:#ae0c13,
    A200:#ae0c13,
    A400:#ae0c13,
    A700:#ae0c13,
    contrast: (
        50: black,
        100: black,
        200: black,
        300: black,
        400: black,
        500: black,
        600: black,
        700: black,
        800: black,
        900: black,
        A100: white,
        A200: white,
        A400: white,
        A700: white,
      )
);


$my-theme-primary: mat-palette($color-financiera, 700 );
$my-theme-button: mat-palette($color-financiera,A200);
$my-theme-accent: mat-palette($complementario-financiera,700);
$my-theme-warn: mat-palette($complementario-financiera, 200);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$my-theme: mat-light-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);