mat-card {
    margin: 0 auto 25px;
    background-color: #f5f5f6;
    padding-top: 10px;
}

.mat-card {
    background-color: #FCFCFC;
}

mat-progress-spinner {
    margin: 0 auto;
}

.primary {
    color: #3E4B5B;
}


.example-h2 {
    text-align: left;
    color: #3C4858;
    font-size: 1.125rem;
    font-weight: 300;
}

.margin {
    margin: 0 auto;
}

.percent {
    font-size: 20px;
}

.percent-sign:after {
    content: " %";
    line-height: normal
}

button.grafico {
    background-color: transparent;
    border: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;

    span {
        position: relative;
        top: 0.3rem;
        left: 0.3rem;
        font-weight: 200;
    }
}