<mat-card *ngIf="!loading">
  <mat-card-content>
    <h5 class="example-h2  {{data_color}}" >{{titulo}}</h5>
    <mat-progress-spinner [color]="data_color"
      [diameter]="this.data.data_pie_size" [mode]="mode" [value]="porcentaje" [strokeWidth]="stroke">
    </mat-progress-spinner>
    <button class="grafico" (click)="salirGrafico()">
      <span class="
            {{mostrarGrafica}}
            {{data_color}}
            semi-bold" [ngStyle]="{
              'font-size': (this.data.font_size * 1.2) + 'px'
            }">
        {{porcentaje/100 | percent:'1.0-0':'fr'}}
      </span>
    </button>
  </mat-card-content>
  <!--<mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>-->
</mat-card>