<div *ngIf="!loading" class="container">
  <app-info [id]="'tituloGraficos'" [tituloOpcional]="'Ingresadas'" [titulo]="titulo" (regresar)="regresar($event)"></app-info>
  <div class="contenedor-table mat-elevation-z8">
    <table mat-table [dataSource]="data" class="mat-elevation-z8">
      <ng-container *ngFor="let item of displayedColumns;let i = index">
        <ng-container *ngIf="i === 0">
          <ng-container matColumnDef="ejecutivo" sticky>
            <th mat-header-cell *matHeaderCellDef> Ejecutivo </th>
            <td mat-cell *matCellDef="let tarjeta"> {{tarjeta.ejecutivo}} </td>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="i > 0">
          <ng-container matColumnDef="{{item}}">
            <th mat-header-cell *matHeaderCellDef> {{item}} </th>
            <td mat-cell *matCellDef="let tarjeta" [style.color]="getColor(tarjeta[item])"> {{tarjeta[item]}} </td>
          </ng-container>
        </ng-container>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <table mat-table [dataSource]="dataTotal" class="mat-elevation-z8" id="total">
    <ng-container matColumnDef="finantienda">
      <th mat-header-cell *matHeaderCellDef> Finantienda </th>
      <td mat-cell *matCellDef="let total"> {{total.finantienda}} </td>
    </ng-container>
    <ng-container matColumnDef="ingresado">
      <th mat-header-cell *matHeaderCellDef> Ingresado </th>
      <td mat-cell *matCellDef="let total"> {{total.ingresado / 100 | percent:'1.2-2':'fr'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnasTotal"></tr>
    <tr mat-row *matRowDef="let row; columns: columnasTotal;"></tr>
  </table>

</div>