<div *ngIf="!loading" class="container">
  <app-info [id]="'tituloGraficos'" [tituloOpcional]="'Electro'" [titulo]="titulo" (regresar)="regresar($event)"></app-info>
  <table mat-table [dataSource]="data" multiTemplateDataRows class="mat-elevation-z8">

    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
      <ng-container *ngIf="column === 'nombre_vendedor'">
        <th mat-header-cell *matHeaderCellDef> Vendedor </th>
        <td mat-cell *matCellDef="let element">{{element.nombre_vendedor}}</td>
        <td mat-footer-cell *matFooterCellDef> {{getFinantienda()}} </td>
      </ng-container>
      <ng-container *ngIf="column === 'venta'">
        <th mat-header-cell *matHeaderCellDef> Venta </th>
        <td mat-cell *matCellDef="let element">{{element.venta | number:'1.2-2':'fr'}}</td>
        <td mat-footer-cell *matFooterCellDef> {{getTotalVentas('electro') | number:'1.2-2':'fr'}} </td>
      </ng-container>
      <ng-container *ngIf="column === 'plazo'">
        <th mat-header-cell *matHeaderCellDef> Plazo </th>
        <td mat-cell *matCellDef="let element">{{element.plazo | number:'1.2-2':'fr'}}</td>
        <td mat-footer-cell *matFooterCellDef> {{getTotalPlazo('electro') | number:'1.2-2':'fr' }} </td>
      </ng-container>
      <ng-container *ngIf="column === 'participacion'">
        <th mat-header-cell *matHeaderCellDef> Part </th>
        <td mat-cell *matCellDef="let element" [style.color]="getColor(element.participacion)">{{element.participacion/ 100
          | percent:'1.2-2':'fr'}}</td>
        <td mat-footer-cell *matFooterCellDef [style.color]="getColor(getTotalParticipacion('electro'))"> {{getTotalParticipacion('electro')
          / 100 | percent:'1.2-2':'fr'}}
        </td>
      </ng-container>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <table class="example-element-diagram table table-striped table-bordered table-sm">
            <thead></thead>
            <tbody>
              <tr>
                <td>Cuotas 0 a 1</td>
                <td>{{element.COMISION_CUOTA_1_0 | number:'1.0-2':'fr'}}</td>
              </tr>
              <tr>
                <td>Cuotas 2 a 3</td>
                <td>{{element.COMISION_CUOTA_2_3 | number:'1.0-2':'fr'}}</td>
              </tr>
              <tr>
                <td>Cuotas 4 a 6</td>
                <td>{{element.COMISION_CUOTA_4_6 | number:'1.0-2':'fr'}}</td>
              </tr>
              <tr>
                <td>Cuotas 7 a 12</td>
                <td>{{element.COMISION_CUOTA_7_12 | number:'1.0-2':'fr'}}</td>
              </tr>
              <tr>
                  <td>Cuotas 13 a más</td>
                  <td>{{element.COMISION_CUOTA_13_MAS | number:'1.0-2':'fr'}}</td>
              </tr>
            </tbody>
          </table>
          <!--<ul class="example-element-diagram">
            <li>
              <div>Cuotas 0 a 1 {{element.COMISION_CUOTA_1_0}}</div>
              <div></div>
            </li>
            <li>Cuotas 2 a 3 {{element.COMISION_CUOTA_2_3}} </li>
            <li>Cuotas 4 a 6 {{element.COMISION_CUOTA_4_6}} </li>
            <li>Cuotas 7 a 12 {{element.COMISION_CUOTA_7_12}} </li>
            <li>Cuotas 13 a más {{element.COMISION_CUOTA_13_MAS}} </li>
          </ul>-->
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row" [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
</div>