table {
    width: 100%;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

td.mat-cell {
    padding: 0px 10px;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.example-element-diagram {
    padding: 0 8px;
    font-weight: lighter;
    margin: 0 auto 1rem;
    text-align: justify;
    width: 30%;
    li {
        display: block;
    }
}