app-form::ng-deep {
    app-fieldset > div {
        display: grid;
        mat-form-field {
            width: 100%;
            .icon_password {
                top: 10px !important;
            }
        }
    }

    footer button {
        margin: auto;
        display: flex;
    }
}