#usuario-tabla {
    margin: 20px auto;
    >app-group-buttons {
        float: left;
        padding-left: 15px;
    }
}

td.mat-cell:last-child,
td.mat-footer-cell:last-child,
th.mat-header-cell:last-child {
    padding-left: 24px !important;
}

td.mat-cell:first-child,
td.mat-footer-cell:first-child,
th.mat-header-cell:first-child {
    padding-left: 10px;
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
    padding: 5px 10px;
    >button#activo .mat-icon {
        color: #72d457;
    }
    >button#inactivo .mat-icon {
        color: #ae0c13
    }
}

table {
    width: 100%;
}

app-buscador-input::ng-deep>mat-form-field {
    width: 100%;
}

.table-container {
    position: relative;
    overflow: auto;
}

div {
    border-radius: 6px;
}

.example-container {
    position: relative;
}

.example-header {
    min-height: 64px;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.editar {
    cursor: pointer;
    color: #00b4f0 !important;
}