<div *ngIf="!loading" class="container" id="usuario-tabla">
    <app-group-buttons [buttons]="buttonsExt" [row]="{}" (clickEvent)="registrar($event)">
    </app-group-buttons>
    <div class="example-header">
        <app-buscador-input (buscar)="applyFilter($event)"></app-buscador-input>
    </div>
    <div class="mat-elevation-z8">
        <div class="table-container">

            <table mat-table [dataSource]="dataSource"  matSort>
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let usuario;let i = index">
                        <app-group-buttons [buttons]="buttons" [row]="usuario" (clickEvent)="operation($event,i)"></app-group-buttons>
                    </td>
                </ng-container>
                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                    <td mat-cell *matCellDef="let usuario;let i = index"> 
                        <button mat-icon-button *ngIf="usuario.estado" id="activo" (click)="desactivar_usuario(usuario,i)"><mat-icon>brightness_1</mat-icon></button>
                        <button mat-icon-button *ngIf="!usuario.estado" id="inactivo" (click)="activar_usuario(usuario,i)"><mat-icon>brightness_1</mat-icon></button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo Electrónico </th>
                    <td mat-cell *matCellDef="let usuario"> {{usuario.email}}</td>
                </ng-container>
                <ng-container matColumnDef="nombres">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres y Apellidos </th>
                    <td mat-cell *matCellDef="let usuario"> {{usuario.nombres }} {{usuario.apellido_paterno}}
                        {{usuario.apellido_materno}}</td>
                </ng-container>
                <ng-container matColumnDef="rol">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
                    <td mat-cell *matCellDef="let usuario"> {{usuario.rol_nombre }}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 25]" [pageSize]="page_size"></mat-paginator>
    </div>
</div>




<app-spinner *ngIf="loading"></app-spinner>