
.lds-ripple {
    display: inline-block;
    position: inherit;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
  }
  .lds-ripple div {
    position: inherit;
    border: 4px solid;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    color: #0ac0ea;
    background-color: #0d94c7;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
    color: #0ac0ea;
    background-color: #0ac0ea;
  }
  @keyframes lds-ripple {
    0% {
      top: 100px;
      left: 100px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: -1px;
      left: -1px;
      width: 200px;
      height: 200px;
      opacity: 0;
    }
  }