<app-modal [info]="{
  titulo:'Eliminar Usuario',
  class: '',
  id: ''
}">
  <div class="mensaje">
    <p>Desea eliminar al usuario: </p>
    <p>{{data.nombres}} {{data.apellido_paterno}} {{data.apellido_materno}} ?</p>
  </div>
  <div class="botones">
    <button mat-raised-button color="primary" (click)="cerrar()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="eliminar()">Aceptar</button>
  </div>



</app-modal>