
.promedio {
    position: absolute;
    top: 0;
    margin-top: 10%;
    right: 0;
    margin-right: 20%;
    font-size: 1.15em;
    color:#fd7e14
}

.warn.data_arriba, .warn.promedio {
    color: #e74c3c;
}

.warn.data_inferior {
    color: #3d4bce;
}
