#lista {
    display: grid;
    position: relative;
    margin-top: -8%;
    left: -3px;
}

.separador {
    position: relative;
}

.accent.data_arriba {
    color: #e74c3c;
}

.accent.data_inferior {
    color: #3d4bce;
}


.leyenda {
    display: flex;
    padding: 15px 0px;
    font-weight: 200;
    div:first-child {
        text-align: left
    }
    div:nth-child(2) {
        text-align: right;
    }
}



