<mat-card *ngIf="!loading">
    <mat-card-content>
        <h5 class="example-h2  {{data_color}}">{{titulo}}</h5>
        <mat-progress-spinner 
            [diameter]="this.data.data_pie_size" [color]="data_color" [mode]="mode" [value]="porcentaje" [strokeWidth]="15">
        </mat-progress-spinner>
        <div class="centrarHorizontalmente">
            <button class="grafico" (click)="salirGrafico()">
                <ng-container>
                    <div id="lista" class="container">
                        <span class="{{mostrarGrafica}} {{data_color}} semi-bold data_arriba" [ngStyle]="{'font-size': (this.data.font_size * 0.63) + 'px'}">
                            {{porcentaje / 100 | percent:'1.0-2':'fr'}}
                        </span>
                        <!--<span class="{{mostrarGrafica}} {{data_color}} semi-bold separador" [ngStyle]="{'font-size': (this.data.font_size * 0.7) + 'px'}">
                            {{data.separador}}
                        </span>-->
                        <span class="{{mostrarGrafica}} {{data_color}} semi-bold data_inferior" [ngStyle]="{'font-size': (this.data.font_size * 0.63) + 'px'}">
                            {{valor_inferior | number:'1.0-2':'fr' }}{{data.caracter_inferior}}
                        </span>

                    </div>

                </ng-container>

            </button>
        </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-footer>
        <div class="container">
            <div class="leyenda">
                <div class="col-6"><span class="{{data_color}} data_arriba">{{data.texto_derecho}}</span></div>
                <div class="col-6"><span class="{{data_color}} data_inferior">{{data.texto_inferior}}</span></div>
            </div>
        </div>
    </mat-card-footer>
</mat-card>