<mat-form-field
    appearance="{{contenido.options.apariencia}}"
    class="{{contenido.data.clase}}"
    id="{{contenido.data.id}}"
>
    <mat-label *ngIf="contenido.data.label.hasLabel">{{contenido.data.label.texto}}</mat-label>
    <input
        *ngIf="!contenido.data.label.hasLabel"
        matInput
        placeholder="{{contenido.data.placeholder}}"
        title="{{contenido.options.title}}"
        name="{{contenido.data.id}}"
        [min]="_min"
        [max]="_max"
        [matDatepicker]="monthpicker"
        [matDatepickerFilter]="_customFilter"
        [attr.required]="contenido.data.isRequired"
        readonly
        [formControl]="contenido.formControl"
        (input)="operation()"
        (click)="_openDatepickerOnClick(monthpicker)"
        (keydown.arrowdown)="_openDatepickerOnClick(monthpicker)"
        (keydown.enter)="_openDatepickerOnClick(monthpicker)"
    >
    <input
        *ngIf="contenido.data.label.hasLabel"
        matInput
        name="{{contenido.data.id}}"
        title="{{contenido.options.title}}"
        [min]="_min"
        [max]="_max"
        [matDatepicker]="monthpicker"
        [matDatepickerFilter]="_customFilter"
        [attr.required]="contenido.data.isRequired"
        readonly
        [formControl]="contenido.formControl"
        (input)="operation()"
        (click)="_openDatepickerOnClick(monthpicker)"
        (keydown.arrowdown)="_openDatepickerOnClick(monthpicker)"
        (keydown.enter)="_openDatepickerOnClick(monthpicker)"
    >
    <mat-error *ngIf="contenido.formControl.invalid">{{getErrorMessage()}}</mat-error>
    <mat-datepicker-toggle
        matSuffix
        [for]="monthpicker"
    ></mat-datepicker-toggle>
    <mat-datepicker
        #monthpicker
        (closed)="_takeFocusAway(monthpicker)"
        (monthSelected)="_monthSelectedHandler($event,monthpicker)"
        touchUi="true"
        [attr.disabled]="!contenido.data.isSeteable"
        panelClass="jp-month-picker"
        startView="multi-year"
    ></mat-datepicker>
</mat-form-field>
