<div *ngIf="!loading" class="container">
    <app-info [id]="'tituloGraficos'" [tituloOpcional]="'Activadas'" [titulo]="titulo" (regresar)="regresar($event)"></app-info>
    <table mat-table [dataSource]="supervisorData" class="mat-elevation-z8">
        <!-- Item Column -->
        <ng-container matColumnDef="supervisor">
          <th mat-header-cell *matHeaderCellDef> Supervisor </th>
          <td mat-cell *matCellDef="let tarjeta"> {{tarjeta.supervisor}} </td>
        </ng-container>
      
        <!-- Cost Column -->
        <ng-container matColumnDef="nro_tc_activada_supervisor">
          <th mat-header-cell *matHeaderCellDef> Activados </th>
          <td mat-cell *matCellDef="let tarjeta"> {{tarjeta.nro_tc_activada_supervisor }} </td>
        </ng-container>
  
        <ng-container matColumnDef="ppto_activada_diario_acumulado_supervisor">
          <th mat-header-cell *matHeaderCellDef> Meta </th>
          <td mat-cell *matCellDef="let tarjeta"> {{tarjeta.ppto_activada_diario_acumulado_supervisor | number:'1.2-2':'fr'}} </td>
        </ng-container>
  
        <ng-container matColumnDef="porcentaje_activada">
          <th mat-header-cell *matHeaderCellDef> Cump/ Activ </th>
          <td mat-cell *matCellDef="let tarjeta" [style.color]="getColor(tarjeta.porcentaje_activada)"> {{tarjeta.porcentaje_activada/ 100 | percent:'1.2-2':'fr'}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedSupervisorColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedSupervisorColumns;"></tr>
      </table>
    
    <table mat-table [dataSource]="data" class="mat-elevation-z8">
        <ng-container matColumnDef="ejecutivo">
          <th mat-header-cell *matHeaderCellDef> Ejecutivo </th>
          <td mat-cell *matCellDef="let tarjeta"> {{tarjeta.ejecutivo}} </td>
          <td mat-footer-cell *matFooterCellDef> {{getFinantienda()}} </td>
        </ng-container>
      
        <ng-container matColumnDef="nro_tc_Activada">
          <th mat-header-cell *matHeaderCellDef> Activados </th>
          <td mat-cell *matCellDef="let tarjeta"> {{tarjeta.nro_tc_Activada }} </td>
          <td mat-footer-cell *matFooterCellDef> {{getTotalActivadas()}} </td>
        </ng-container>
  
        <ng-container matColumnDef="ppto_entregado_diario_acum">
          <th mat-header-cell *matHeaderCellDef> Entregadas </th>
          <td mat-cell *matCellDef="let tarjeta"> {{tarjeta.ppto_entregado_diario_acum | number:'1.2-2':'fr'}} </td>
          <td mat-footer-cell *matFooterCellDef> {{getTotalMetas() | number:'1.2-2':'fr' }} </td>
        </ng-container>
  
        <ng-container matColumnDef="porcentaje_activado">
          <th mat-header-cell *matHeaderCellDef> Porcentaje </th>
          <td mat-cell *matCellDef="let tarjeta" [style.color]="getColor(tarjeta.porcentaje_activado)"> {{tarjeta.porcentaje_activado/ 100 | percent:'1.2-2':'fr'}} </td>
          <td mat-footer-cell *matFooterCellDef  [style.color]="getColor(getPorcentaje())"> {{getPorcentaje() / 100 | percent:'1.2-2':'fr'}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>
    </div>