#infoContainer {
    display: inline-flex;
    width: 100%;
}

#titulo {
    width: 100%;
}

#tituloGraficos {
    width: calc(100% - 80px);
    margin-top: 15px;
}

.info {
    display: inline-block;
    margin-bottom: 20px;
    text-align: center;
    color: #495057;
}

#titulo h3,
#tituloGraficos h3 {
    margin: 0px;
    font-size: 27px;
    font-weight: 400;
    color: #3C4858;
    padding-bottom: 10px;
}

#fechas {
    padding-top: 10px;
}

#titulo div div,
#tituloGraficos div div {
    display: grid;
}

#tituloGraficos h3#opcional {
    margin: 0 0 13px;
}

/*#titulo div div:first-child,
#tituloGraficos div div:first-child {
    float: left;
}

#titulo div div:last-child,
#tituloGraficos div div:last-child {
    float: right;
}*/

h5 {
    margin: 5px 0px;
    font-size: 13px;
    letter-spacing: 0.4px;
    font-weight: 300;
}

#boton_regresar {
    position: relative;
    top: 10px;
}

.boton_regresar:hover,
.dataTables_filter:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}