<div *ngIf="!loading" id="infoContainer">
    <button *ngIf="id === 'tituloGraficos'" id="boton_regresar" mat-mini-fab color="primary" (click)="eventoRegresar()">
        <mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_left</mat-icon>
    </button>
    <div id="{{id}}" class="info">
        <h3 *ngIf="tituloOpcional !== ''" id="opcional">{{tituloOpcional}}</h3>
        <h3>{{titulo}}</h3>
        <mat-divider></mat-divider>
        <div id="fechas">
            <div>
                <h5>Fecha Actual</h5>
                <h5>{{fecha | moment : 'DD/MM/YYYY' }}</h5>
            </div>
        </div>
    </div>
</div>