<mat-form-field
    id="{{contenido.data.id}}"
    appearance="outline"
>
    <mat-label *ngIf="contenido.data.label.hasLabel">{{contenido.data.label.texto}}</mat-label>
    <mat-select
        placeholder="Choose one"
        [required]="contenido.data.isRequired"
        [formControl]="contenido.formControl"
        [errorStateMatcher]="matcher"
        (valueChange)="selectChange($event)"
    >
        <mat-option
            *ngFor="let option of contenido.data.options"
            [value]="option.id"
            (keydown)="$event.stopPropagation()"
        >
            {{ option.nombre }}
        </mat-option>
    </mat-select>
    <mat-error *ngIf="contenido.formControl.invalid">{{getErrorMessage()}}</mat-error>
</mat-form-field>
