<mat-form-field
    appearance="{{contenido.options.apariencia}}"
    id="{{contenido.data.id}}"
>
    <mat-label *ngIf="contenido.data.label.hasLabel">{{contenido.data.label.texto}}</mat-label>
    <textarea
        *ngIf="!contenido.data.label.hasLabel"
        matInput
        name="{{contenido.data.id}}"
        placeholder="{{contenido.data.placeholder}}"
        title="{{contenido.options.title}}"
        [readonly]="!contenido.data.isSeteable"
        [attr.required]="contenido.data.isRequired"
        [formControl]="contenido.formControl"
        (input)="operation()"
    ></textarea>
    <textarea
        *ngIf="contenido.data.label.hasLabel"
        matInput
        name="{{contenido.data.id}}"
        title="{{contenido.options.title}}"
        [readonly]="!contenido.data.isSeteable"
        [attr.required]="contenido.data.isRequired"
        [formControl]="contenido.formControl"
        (input)="operation()"
    ></textarea>
    <mat-error *ngIf="contenido.formControl.invalid">{{getErrorMessage()}}</mat-error>
</mat-form-field>
