<app-modal [info]="info">
  <div class="mensaje">
    <p>Desea {{titulo | lowercase}} la cuenta del usuario: </p>
    <p>{{data.usuario.nombres}} {{data.usuario.apellido_paterno}} {{data.usuario.apellido_materno}} ?</p>
  </div>
  <div class="botones">
    <button mat-raised-button color="primary" (click)="cerrar()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
  </div>
</app-modal>