<div *ngIf="!loading" class="container">
  <app-info [id]="'tituloGraficos'"  [titulo]="titulo" (regresar)="regresar($event)"></app-info>
  <app-pie-grafico
  [porcentaje]="porcentajeIngresadas"
  [titulo]="'Ingresadas'"
  [data_color]="'tarjetas'"
  (regresar)="haciaIngresadas($event)"></app-pie-grafico>
  <app-pie-grafico
  [porcentaje]="porcentajeEntregadas"
  [titulo]="'Entregadas'"
  [data_color]="'tarjetas'"
  (regresar)="haciaEntregadas($event)"></app-pie-grafico>
  <app-pie-grafico
  [porcentaje]="porcentajeActivadas"
  [titulo]="'Activadas'"
  [data_color]="'tarjetas'"
  (regresar)="haciaActivadas($event)"></app-pie-grafico>
</div>