<div id="{{data.id}}" class="{{data.clase}}">
    <legend *ngIf="data.hasLegend" class="{{data.clase}}">{{data.legend}}</legend>
    <td
        *ngFor="let input of data.inputs;let i = index;"
        id="{{input.contenido.id}}"
    >
    
        <app-input *ngIf="input.contenido.titulo === undefined"
            [contenido]="input.contenido"
            [fieldsetId]="data.id"
            (changeValue)="emitirValueChanged($event)"
        >
        </app-input>
        <app-button *ngIf="input.contenido.titulo !== undefined"   [data]="input.contenido"  (clickEvent)="emitirValueChanged($event)"></app-button>
    </td>

</div>
