<mat-toolbar [color]="toolbar.color">
  <ng-container *ngIf="toolbar.buttonIzquierdo !== null">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="emitirClick()" *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">{{toolbar.buttonIzquierdo.icono}}</mat-icon>
    </button>
  </ng-container>
  <ng-content></ng-content>
  <button *ngIf="toolbar.logout.mostrar"
  id="logout"
  type="button"
  aria-label="Toggle sidenav"
  mat-icon-button
  matTooltip="Salir del sistema"
  [matTooltipPosition]="'above'"
  [swal]="{
    title: '¿Desea salir del sistema?',
    showCancelButton: true,
    confirmButtonText: 'Si',
    cancelButtonText:'No',
    confirmButtonColor: '#3085d6'
  }"
  (confirm)="logout()">
    <mat-icon aria-label="Side nav toggle icon">{{toolbar.logout.icono}}</mat-icon>
  </button>
</mat-toolbar>