<div *ngIf="!loading" class="container">
  <app-info [id]="'tituloGraficos'" [tituloOpcional]="'Participación'" [titulo]="titulo" (regresar)="regresar($event)"></app-info>
  <app-select [contenido]="divisiones" (cambio)="actualizarDivision($event)"></app-select>
  <table *ngIf="data !== null" mat-table [dataSource]="data" class="mat-elevation-z8">
    <!-- Item Column -->
    <ng-container matColumnDef="Nombre_Vendedor">
      <th mat-header-cell *matHeaderCellDef> Vendedor </th>
      <td mat-cell *matCellDef="let tarjeta"> {{tarjeta.Nombre_Vendedor}} </td>
      <td mat-footer-cell *matFooterCellDef> Total </td>
    </ng-container>

    <!-- Cost Column -->
    <ng-container matColumnDef="real">
      <th mat-header-cell *matHeaderCellDef> Real </th>
      <td mat-cell *matCellDef="let tarjeta"> {{tarjeta.real/ 100 | percent:'1.2-2':'fr' }} </td>
      <td mat-footer-cell *matFooterCellDef> {{totales.real/100 | percent:'1.2-2':'fr'}} </td>
    </ng-container>

    <ng-container matColumnDef="meta">
      <th mat-header-cell *matHeaderCellDef> Meta </th>
      <td mat-cell *matCellDef="let tarjeta"> {{tarjeta.meta/ 100 | percent:'1.2-2':'fr'}} </td>
      <td mat-footer-cell *matFooterCellDef> {{totales.meta/100 | percent:'1.2-2':'fr'}} </td>
    </ng-container>

    <ng-container matColumnDef="cumplimiento">
      <th mat-header-cell *matHeaderCellDef> Cumpl </th>
      <td mat-cell *matCellDef="let tarjeta" [style.color]="getColor(tarjeta.cumplimiento)"> {{tarjeta.cumplimiento/
        100 | percent:'1.2-2':'fr'}} </td>
        <td mat-footer-cell *matFooterCellDef [style.color]="getColor(totales.cumplimiento)"> {{totales.cumplimiento/100 | percent:'1.2-2':'fr'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
</div>
