<app-modal [info]="{
  titulo:'Cambiar Clave',
  class: '',
  id: ''
}">
  <div class="mensaje">
    <p>Desea cambiar la contraseña del usuario: </p>
    <p>{{data.nombres}} {{data.apellido_paterno}} {{data.apellido_materno}} ?</p>
    <form [formGroup]="form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'" formControlName="password"
          required (keyup.enter)="aceptar()">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="!contrasenaValida()">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <div class="botones">
        <button mat-raised-button color="primary" (click)="cerrar()">Cancelar</button>
        <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
      </div>
    </form>
  </div>



</app-modal>