<ng-container *ngFor="let item of elementos">
    <mat-accordion *ngIf="item.tipo === 1 && item.hijos">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>{{item.icono}}</mat-icon>
            <span>{{item.titulo}}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-elementos *ngIf="item.hijos" [elementos]="item.hijos" ></app-elementos>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-nav-list *ngIf="item.tipo === 0">
      <a mat-list-item [routerLink]="item.ruta" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" (click)="escogerService.escogerElemento(item.titulo)">
        <mat-icon>{{item.icono}}</mat-icon>
        <span>{{item.titulo}}</span>
      </a>
    </mat-nav-list>
</ng-container>