mat-nav-list {
    padding: 0;
    span {
        margin-left: 10px;
    }
}

.mat-expansion-panel {
    display: inherit;
}

.active {
    background-color: #98939336;
}

mat-panel-title span,
mat-content span {
    margin-left: 10px;
    margin-top: 4px;
}

.mat-expansion-panel-header {
    padding: 0 16px;
    height: 50px !important;
    font-size: 16px;
}