.alertButton {
    color: red !important;
    background-color: #fafafa;
    appearance: caret;
}

.successButton {
    color: #4584e6 !important;
    background-color: #fafafa;
    appearance: caret;
}