<app-modal [info]="{
  titulo:'Registrar Usuario',
  class: '',
  id: 'registrar_usuario'
}">
  <app-form
      [data]="formulario.data"
      [loading_id]="'login_loading'"
      (validarFormulario)="requestBack($event)"
  >
      <button mat-raised-button color="primary">Aceptar</button>
  </app-form>
</app-modal>
