<div
    [formGroup]="parts"
    id="phone_input"
>
    <span>(</span>
    <span>+</span>
    <input
        class="phone"
        id="phone"
        formControlName="first"
        maxlength="2"
        [attr.required]="required"
        [disableControl]="!isSeteable"
        (input)="onInputEntry('first','phone',(1), 2)"
    >
    <span>)</span>
    <input
        class="phone"
        id="phone1"
        formControlName="area"
        maxlength="3"
        [attr.required]="required"
        [disableControl]="!isSeteable"
        (input)="onInputEntry('area','phone',(2),3)"
    >
    <span>–</span>
    <input
        class="phone"
        id="phone2"
        formControlName="exchange"
        maxlength="3"
        [attr.required]="required"
        [disableControl]="!isSeteable"
        (input)="onInputEntry('exchange','phone',(3),3)"
    >
    <span>–</span>
    <input
        class="phone"
        id="phone3"
        formControlName="subscriber"
        maxlength="3"
        [attr.required]="required"
        [disableControl]="!isSeteable"
        (input)="onInputEntry('subscriber','phone',(4),3)"
    >
</div>
