
  #phone_input {
    display: flex;
    overflow-x: auto;
  }

  #phone_input input {
    border: none;
    background: none;
    padding: 0;
    outline: none;
    width: 30px;
    font: inherit;
    text-align: center;
  }
  
  span {
    opacity: 0;
    transition: opacity 200ms;
  }
  
  :host.floating span {
    opacity: 1;
  }