<div>

  <form [formGroup]="login" (ngSubmit)="onSubmit()">
    <img class="img-responsive" src="../../../../assets/img/financieraoh.png">
    <mat-form-field class="example-full-width">
      <input matInput type="email" placeholder="Correo Electrónico" formControlName="email" required (keyup.enter)="onSubmit()">
      <mat-error *ngIf="!emailValido()">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'" formControlName="password" required (keyup.enter)="onSubmit()">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="!contrasenaValida()">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary">Ingresar</button>
  </form>
</div>