h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #252f39f0;
}

div {
    height: 100%;
    padding: 10%;
    display: grid;
    text-align: center;
    background-color: #252f3914;
    form {
        display: grid;
        color: #c5c5c5;
        height: 75%;
        img {
            margin: 0 auto 50px;
            top: 10%;
            position: relative;
        }
        mat-form-field{
            height: 70px;
            width: 100%;
        }
        button {
            height: 50px;
            width: 50%;
            margin: 0 auto;
            font-size: 1.5rem;
            border-radius: 6px;
        }
        
    }
}