<!-- <ng-container *ngIf="data.isRequired === true">
    <input type="number" id="{{data.id}}" name="{{data.id}}" [(ngModel)]="data.value" placeholder="{{data.placeholder}}" class="{{data.class}}"
        pattern="[0-9]*" title="{{options.title}}" [disabled]="!input.isSeteable" (input)="operation()" required>
</ng-container>
<ng-container *ngIf="data.isRequired === false">
    <input type="number" id="{{data.id}}" name="{{data.id}}" [(ngModel)]="data.value" placeholder="{{data.placeholder}}" class="{{data.class}}"
    pattern="[0-9]*" title="{{options.title}}" [disabled]="!input.isSeteable" (input)="operation()">
</ng-container> -->

<mat-form-field
    appearance="{{contenido.options.apariencia}}"
    id="{{contenido.data.id}}"
>
    <mat-label *ngIf="contenido.data.label.hasLabel">{{contenido.data.label.texto}}</mat-label>
    <input
            *ngIf="!contenido.data.label.hasLabel"
            matInput
            appDecimal
            [value]="contenido.data.value"
            name="{{contenido.data.id}}"
            placeholder="{{contenido.data.placeholder}}"
            title="{{contenido.options.title}}"
            [readonly]="!contenido.data.isSeteable"
            [attr.required]="contenido.data.isRequired"
            [formControl]="contenido.formControl"
            (input)="operation()"
        >
        <input
            *ngIf="contenido.data.label.hasLabel"
            matInput
            appDecimal
            [value]="contenido.data.value"
            name="{{contenido.data.id}}"
            title="{{contenido.options.title}}"
            [readonly]="!contenido.data.isSeteable"
            [attr.required]="contenido.data.isRequired"
            [formControl]="contenido.formControl"
            (input)="operation()"
        >
        <mat-error *ngIf="contenido.formControl.invalid">{{getErrorMessage()}}</mat-error>
</mat-form-field>
