<div *ngIf="!loading" class="container">
  <app-info [id]="'tituloGraficos'" [tituloOpcional]="'Plazo'" [titulo]="titulo" (regresar)="regresar($event)"></app-info>
  <table mat-table [dataSource]="data" class="mat-elevation-z8">
    <!-- Item Column -->
    <ng-container matColumnDef="jefe_comercial">
      <th mat-header-cell *matHeaderCellDef> Jefe Comercial </th>
      <td mat-cell *matCellDef="let tarjeta"> <a (click)="haciaDetalle(tarjeta)">{{tarjeta.jefe_comercial}}</a> </td>
      <td mat-footer-cell *matFooterCellDef> Total </td>
    </ng-container>

    <!-- Cost Column -->
    <ng-container matColumnDef="real">
      <th mat-header-cell *matHeaderCellDef> Real </th>
      <td mat-cell *matCellDef="let tarjeta"> {{tarjeta.real | number:'1.2-2':'fr' }} </td>
      <td mat-footer-cell *matFooterCellDef> {{totales.real | number:'1.2-2':'fr'}} </td>
    </ng-container>

    <ng-container matColumnDef="meta">
      <th mat-header-cell *matHeaderCellDef> Meta </th>
      <td mat-cell *matCellDef="let tarjeta"> {{tarjeta.meta | number:'1.2-2':'fr'}} </td>
      <td mat-footer-cell *matFooterCellDef> {{totales.meta | number:'1.2-2':'fr'}} </td>
    </ng-container>

    <ng-container matColumnDef="cumplimiento">
      <th mat-header-cell *matHeaderCellDef> Cumpl </th>
      <td mat-cell *matCellDef="let tarjeta" [style.color]="getColor(tarjeta.cumplimiento)"> {{tarjeta.cumplimiento/
        100 | percent:'1.2-2':'fr'}} </td>
      <td mat-footer-cell *matFooterCellDef [style.color]="getColor(totales.cumplimiento)"> {{totales.cumplimiento/100 | percent:'1.2-2':'fr'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
</div>