.fechas {
    display: inline-flex;
    width: 100%;
    position: relative;
    top: -28px;
}

app-datepicker {
    display: block;
    width: 50%;
}

app-select-search-finantiendas {
    width: 100%;
}

app-info {
    position: relative;
    top: -10px;
}

#inicio {
    padding-right: 10px;
}

#final {
    padding-left: 10px;
}

#final::ng-deep button {
    float: right;
}