<div *ngIf="!loading" class="container">
    <app-select-search-finantiendas [contenido]="locales" (cambio)="actualizarLocal($event)"></app-select-search-finantiendas>
    <div class="fechas">
        <app-datepicker id="inicio" [contenido]="fechaInicioContenido" [minDate]="fechaInicio" [maxDate]="hoy" (cambio)="actualizarFechaInicio($event)">
        </app-datepicker>
        <app-datepicker id="final" [contenido]="fechaFinContenido" [minDate]="fechaInicio" [maxDate]="hoy" (cambio)="actualizarFechaFin($event)">
        </app-datepicker>
    </div>
    <ng-container *ngIf="!loadingGraficos">
        <app-info  [titulo]="tituloInfo"></app-info>
        <app-pie-grafico 
            [porcentaje]="porcentajeEntregadas"
            [titulo]="titulo"
            [data_color]="'tarjetas'"
            (regresar)="haciaTarjetas($event)"></app-pie-grafico>
            
        <app-pie-grafico-dividido *ngIf="mostrar_crediventas"
            [porcentaje]="porcentajeCrediventas"
            [valor_inferior]="noPorcentajeCrediventas"
            [titulo]="'Crediventas'"
            [data_color]="'crediventas'"
            (regresar)="haciaCrediventas($event)"></app-pie-grafico-dividido>
        <app-mensaje-sin-data *ngIf="!mostrar_crediventas" [titulo]="'Crediventas'" [mensaje]="mensaje_vea">
        </app-mensaje-sin-data>
        <app-pie-grafico-dividido-total-arriba *ngIf="mostrar_oeschle"
            [porcentaje]="porcentaje_oeschle_superior"
            [valor_inferior]="porcentaje_oeschle_inferior"
            [titulo]="'Crediventas Oeschle'"
            [data_color]="'oeschle'"
            (regresar)="haciaOeschle($event)"></app-pie-grafico-dividido-total-arriba>
        <app-mensaje-sin-data *ngIf="!mostrar_oeschle" [titulo]="'Crediventas Oeschle'" [mensaje]="mensaje_oec">
        </app-mensaje-sin-data>
    </ng-container>
    
</div>