.mat-header-cell {
    text-align: center;
    padding: 0 5px;
    font-size: 16px;
    font-weight: 600;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell{
    padding: 0 5px;
}

td.mat-cell:first-child,
td.mat-footer-cell:first-child,
th.mat-header-cell:first-child {
    text-align: left;
    padding-left: 24px !important;
}

td.mat-cell:last-child,
td.mat-footer-cell:last-child,
th.mat-header-cell:last-child {
    text-align: right;
    padding-right: 24px !important;
}

.mat-cell, .mat-footer-cell {
    text-align: center;
    color: #757575;
}

table {
    margin: auto;
    margin-bottom: 25px;
    color: #757575;
}

table#total {
    width: 90%;
}

tr.mat-footer-row {
    font-weight: bold;
}

.mat-table {
    font-family: 'Imprima', sans-serif;
}

tr.mat-header-row {
    height: 40px;
}