#subtitulo {
    font-size: 14px;
}

.sidenav-container {
    height: 100%;
}

.mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 10000;
}

img {
    margin: 0 auto;
}

.sidenav {
    width: 250px;
    box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 2;
}

.mat-toolbar-single-row {
    height: 95px;
}

.mat-toolbar>div {
    display: grid;
    text-align: center;
    width: 100%;
    padding: 10px 0px;
}