<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <ng-container *ngIf="data.barra_navegacion">
      <mat-toolbar [color]="color">
        <div>
          <h5>{{data.barra_navegacion.titulo}}</h5>
          <h5 *ngIf="data.barra_navegacion.titulo2">{{data.barra_navegacion.titulo2}}</h5>
          <h6 *ngIf="data.barra_navegacion.subtitulo" id="subtitulo">{{data.barra_navegacion.subtitulo}}</h6>
        </div>
      </mat-toolbar>
      <app-elementos [elementos]="data.barra_navegacion.elementos"></app-elementos>
    </ng-container>

  </mat-sidenav>
  <mat-sidenav-content>
    <!--<mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{data.toolbar.titulo}}</span>
    </mat-toolbar>-->
    <app-toolbar [toolbar]="data.toolbar" (mostrarBarraLateral)="drawer.toggle()">
      <img src="../../../../assets/img/financieraoh.png" class="img-responsive" alt="">
    </app-toolbar>
    <!--<mat-toolbar>
      <img src="../../../../assets/img/financieraoh.png" class="imglogoUp img-responsive" alt="">
    </mat-toolbar>-->

    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>