<mat-form-field
    appearance="{{contenido.options.apariencia}}"
    id="{{contenido.data.id}}"
>
    <mat-label *ngIf="contenido.data.label.hasLabel">{{contenido.data.label.texto}}</mat-label>
    <mat-select
        placeholder="{{contenido.data.label.texto}}"
        [disableControl]="!contenido.data.isSeteable"
        [formControl]="contenido.formControl"
        [errorStateMatcher]="matcher"
        multiple
    >
        <mat-option
            *ngFor="let option of contenido.data.options"
            [value]="option.id"
        >
            {{ option.nombre }}
        </mat-option>
    </mat-select>
    <!-- <mat-error *ngIf="formControl.hasError('required')">You must make a selection</mat-error> -->
    <!-- <mat-error *ngIf="formControl.hasError('pattern') && !formControl.hasError('required')">Your selection is invalid</mat-error> -->
    <mat-error *ngIf="contenido.formControl.invalid">{{getErrorMessage()}}</mat-error>
</mat-form-field>
