<mat-form-field
    appearance="{{contenido.options.apariencia}}"
    id="{{contenido.data.id}}"
>
    <mat-label *ngIf="contenido.data.label.hasLabel">{{contenido.data.label.texto}}</mat-label>
    <input
        *ngIf="!contenido.data.label.hasLabel"
        matInput
        placeholder="{{contenido.data.placeholder}}"
        title="{{contenido.options.title}}"
        type="text"
        name="{{contenido.data.id}}"
        [matDatepicker]="dp1"
        [min]="contenido.options.min"
        [max]="contenido.options.max"
        [attr.required]="contenido.data.isRequired"
        [formControl]="contenido.formControl"
        [disableControl]="true"
        (input)="operation()"
    >
    <input
        *ngIf="contenido.data.label.hasLabel"
        matInput
        type="text"
        name="{{contenido.data.id}}"
        title="{{contenido.options.title}}"
        [matDatepicker]="dp1"
        [min]="contenido.options.min"
        [max]="contenido.options.max"
        [attr.required]="contenido.data.isRequired"
        [formControl]="contenido.formControl"
        [disableControl]="true"
        (input)="operation()"
    >
    <mat-error *ngIf="contenido.formControl.invalid">{{getErrorMessage()}}</mat-error>
    <mat-datepicker-toggle
        matSuffix
        [for]="dp1"
    ></mat-datepicker-toggle>
    <mat-datepicker
        #dp1
        touchUi="true" [disabled]="!contenido.data.isRequired"
    ></mat-datepicker>
</mat-form-field>
