.icon_password {
    position: absolute;
    right: 0px;
    top: -1px;
}

#register_password .icon_password{
    color:#4c505f;
    top: 10px;
}

#login_password .icon_password {
    color:white;
}

.link {
    margin-top: 20px;
}