<!-- <app-input-radiobutton *ngIf="type === enum.radiobutton" [data]="data"  [options]="options"></app-input-radiobutton>
<app-input-checkbox *ngIf="type === enum.checkbox" [data]="data"  [options]="options"></app-input-checkbox> -->
<div *ngIf="contenido.type === 'link'" class="link">
   <a  id="{{contenido.data.id}}" [routerLink]="contenido.data.value">{{contenido.data.label.texto}}</a>
</div>
<app-input-chips
    *ngIf="contenido.type === 'chips'"
    [contenido]="contenido"
    class="col-xs-12"
    style="padding:0px"
    (changeValue)="emitirValueChanged($event)"
>
</app-input-chips>
<app-input-hora
    *ngIf="contenido.type === 'hora'"
    [contenido]="contenido"
    class="col-xs-12"
    style="padding:0px"
    (changeValue)="emitirValueChanged($event)"
></app-input-hora>
<app-input-date
    *ngIf="contenido.type === 'date'"
    [contenido]="contenido"
    class="col-xs-12"
    style="padding:0px"
    (changeValue)="emitirValueChanged($event)"
>
</app-input-date>
<app-input-month
    *ngIf="contenido.type === 'month'"
    [contenido]="contenido"
    class="col-xs-12"
    style="padding:0px"
    (changeValue)="emitirValueChanged($event)"
>
</app-input-month>
<app-input-phone
    *ngIf="contenido.type === 'phone'"
    [contenido]="contenido"
    [fieldsetId]="fieldsetId"
    class="col-xs-12"
    style="padding:0px"
    (changeValue)="emitirValueChanged($event)"
></app-input-phone>

<app-input-url
    *ngIf="contenido.type === 'url'"
    [contenido]="contenido"
    class="col-xs-12"
    style="padding:0px"
    (changeValue)="emitirValueChanged($event)"
>
</app-input-url>

<app-input-millar
    *ngIf="contenido.type === 'millar'"
    [contenido]="contenido"
    class="col-xs-12"
    style="padding:0px"
    (changeValue)="emitirValueChanged($event)"
>
</app-input-millar>
<app-text-area
    *ngIf="contenido.type === 'textarea'"
    [contenido]="contenido"
    class="col-xs-12"
    style="padding:0px"
    (changeValue)="emitirValueChanged($event)"
>
</app-text-area>
<!-- {{esEspecial}} -->
<ng-container *ngIf="!esEspecial">
    <mat-form-field
        appearance="{{contenido.options.apariencia}}"
        id="{{contenido.data.id}}"
    >
        <mat-label *ngIf="contenido.data.label.hasLabel">{{contenido.data.label.texto}}</mat-label>
        <input
            *ngIf="!contenido.data.label.hasLabel"
            matInput
            name="{{contenido.data.id}}"
            placeholder="{{contenido.data.placeholder}}"
            title="{{contenido.options.title}}"
            [type]="hide? contenido.data.type: 'text'"
            [readonly]="!contenido.data.isSeteable"
            [min]="contenido.options.min"
            [max]="contenido.options.max"
            [disableControl]="!contenido.data.isSeteable"
            [attr.required]="contenido.data.isRequired"
            [formControl]="contenido.formControl"
            (input)="operation()"
        >
        <input
            *ngIf="contenido.data.label.hasLabel"
            matInput
            name="{{contenido.data.id}}"
            title="{{contenido.options.title}}"
            [type]="hide? contenido.data.type: 'text'"
            [readonly]="!contenido.data.isSeteable"
            [min]="contenido.options.min"
            [max]="contenido.options.max"
            [disableControl]="!contenido.data.isSeteable"
            [attr.required]="contenido.data.isRequired"
            [formControl]="contenido.formControl"
            (input)="operation()"
        >
        <mat-icon
            *ngIf="contenido.data.type === 'password'"
            class="icon_password"
            (click)="hide = !hide"
        >
            {{hide ? 'visibility' : 'visibility_off'}}
        </mat-icon>
        <mat-error *ngIf="contenido.formControl.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
</ng-container>

<!-- <app-input-text
    *ngIf="type === enum.text"
    [data]="data"
    [label]="label"
    [options]="options"
    class="col-xs-12"
    style="padding:0px"
></app-input-text>
<app-input-number
    *ngIf="type === enum.number"
    [data]="data"
    [label]="label"
    [options]="options"
    class="col-xs-12"
    style="padding:0px"
></app-input-number>
<app-input-email
    *ngIf="type === enum.email"
    [data]="data"
    [label]="label"
    [options]="options"
    class="col-xs-12"
    style="padding:0px"
></app-input-email>
<app-input-password
    *ngIf="type === enum.password"
    [data]="data"
    [label]="label"
    [options]="options"
    class="col-xs-12"
    style="padding:0px"
></app-input-password>
<app-input-phone
    *ngIf="type === enum.phone"
    [data]="data"
    [label]="label"
    [options]="options"
    class="col-xs-12"
    style="padding:0px"
></app-input-phone>

<app-input-millar
    *ngIf="type === enum.millar"
    [data]="data"
    [label]="label"
    [options]="options"
    class="col-xs-12"
    style="padding:0px"
></app-input-millar>
<app-input-hidden
    *ngIf="type === enum.hidden"
    [data]="data"
    [options]="options"
    class="col-xs-12"
    style="padding:0px"
></app-input-hidden>
<app-input-reset
    *ngIf="type === enum.reset"
    [data]="data"
    [options]="options"
    class="col-xs-12"
    style="padding:0px"
></app-input-reset>
<app-input-submit
    *ngIf="type === enum.submit"
    [data]="data"
    [options]="options"
    class="col-xs-12"
    style="padding:0px"
></app-input-submit>
<app-input-file
    *ngIf="type === enum.file"
    [data]="data"
    [options]="options"
    class="col-xs-12"
    style="padding:0px"
></app-input-file>
<app-input-hidden
    *ngIf="type === enum.file"
    [data]="data"
    [options]="options"
    class="col-xs-12"
    style="padding:0px"
></app-input-hidden> -->
