/*table {
    tr {
        th {
            div {
                display: inherit;
                min-width: 234px;
                padding: 0px 15px;
                text-align: center;
                color: white;
            }
        }
    }
}*/

app-fieldset {
    /*display: table-cell;
    vertical-align: inherit;*/
    display: block;
}


@media all and (max-width: 500px) {
    .mat-dialog-content app-form form table tbody tr app-fieldset div td {
        display: block;
    }
}

.table::ng-deep thead th {
    background-color: #0084bd;
}