<form
    id="{{data.id}}"
    class="{{data.clase}} form"
    (submit)="submitForm($event)"
>
    <table
        *ngIf="!formaParteDeTabla"
        style="width:100%"
        cellspacing="0"
    >
        <tbody>
            <tr *ngFor="let fieldset of data.fieldsets;let i = index">

                <app-fieldset
                    [data]="fieldset.data"
                    (valueChange)="emitirValueChanged($event,i)"
                ></app-fieldset>

            </tr>
        </tbody>
    </table>

    <ng-container *ngIf="data.hasFooter">
        <footer>
            <ng-content></ng-content>
        </footer>
    </ng-container>
</form>
