<mat-form-field appearance="{{contenido.options.apariencia}}" id="{{contenido.data.id}}">
  <mat-label *ngIf="contenido.data.label.hasLabel">{{contenido.data.label.texto}}</mat-label>
  <mat-chip-list #chipList>
    <ng-container *ngFor="let chip of chips">
      <mat-chip *ngIf="chip.nombre" [selectable]="selectable" [removable]="removable" (removed)="remove(chip)">
        {{chip.nombre}}
        <mat-icon class="mat-icon mat-chip-remove mat-chip-trailing-icon material-icons {{contenido.data.isSeteable}}"
          *ngIf="removable">cancel</mat-icon>
      </mat-chip>
    </ng-container>

    <input *ngIf="!contenido.data.label.hasLabel" matInput name="{{contenido.data.id}}" placeholder="{{contenido.data.placeholder}}"
      title="{{contenido.options.title}}" [readonly]="!contenido.data.isSeteable" [attr.required]="contenido.data.isRequired"
      [formControl]="contenido.formControl" (input)="operation()" [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
    <input *ngIf="contenido.data.label.hasLabel" matInput name="{{contenido.data.id}}" title="{{contenido.options.title}}"
      [readonly]="!contenido.data.isSeteable" [attr.required]="contenido.data.isRequired" [formControl]="contenido.formControl"
      (input)="operation()" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>

  <mat-error *ngIf="contenido.formControl.invalid">{{getErrorMessage()}}</mat-error>
</mat-form-field>