div {
    position: absolute;
    background-color: #eeeeee8a;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: auto;
    mat-spinner {
        margin: auto;
        top: calc(50% - 50px);  
    }
}