<app-select-comun
    *ngIf="contenido.type === enum.select"
    [contenido]="contenido"
    class="col-xs-12"
    style="padding:0px"
></app-select-comun>
<app-select-multiple
    *ngIf="contenido.type === enum.select_multiple"
    [contenido]="contenido"
    class="col-xs-12"
    style="padding:0px"
></app-select-multiple>
<app-select-search-multiple
    *ngIf="contenido.type === enum.select_search_multiple"
    [contenido]="contenido"
    class="col-xs-12"
    style="padding:0px"
></app-select-search-multiple>
<app-select-search
    *ngIf="contenido.type === enum.select_search"
    [contenido]="contenido"
    class="col-xs-12"
    style="padding:0px"
></app-select-search>
