<div *ngIf="!loading" class="container">
  <app-info [id]="'tituloGraficos'" [tituloOpcional]="'Entregadas'" [titulo]="titulo" (regresar)="regresar($event)"></app-info>
  <table mat-table [dataSource]="data" class="mat-elevation-z8">
    <!-- Item Column -->
    <ng-container matColumnDef="ejecutivo">
      <th mat-header-cell *matHeaderCellDef> Ejecutivo </th>
      <td mat-cell *matCellDef="let tarjeta"> {{tarjeta.ejecutivo}} </td>
      <td mat-footer-cell *matFooterCellDef> {{getFinantienda()}} </td>
    </ng-container>

    <!-- Cost Column -->
    <ng-container matColumnDef="nro_tc_entregado">
      <th mat-header-cell *matHeaderCellDef> Entregados </th>
      <td mat-cell *matCellDef="let tarjeta"> {{tarjeta.nro_tc_entregado }} </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalEntregadas()}} </td>
    </ng-container>

    <ng-container matColumnDef="ppto_entregado_diario_acumulado">
      <th mat-header-cell *matHeaderCellDef> Meta </th>
      <td mat-cell *matCellDef="let tarjeta"> {{tarjeta.ppto_entregado_diario_acumulado | number:'1.2-2':'fr'}} </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalMetas() | number:'1.2-2':'fr' }} </td>
    </ng-container>

    <ng-container matColumnDef="porcentaje_entregado">
      <th mat-header-cell *matHeaderCellDef> Porcentaje </th>
      <td mat-cell *matCellDef="let tarjeta" [style.color]="getColor(tarjeta.porcentaje_entregado)"> {{tarjeta.porcentaje_entregado/
        100 | percent:'1.2-2':'fr'}} </td>
      <td mat-footer-cell *matFooterCellDef [style.color]="getColor(getPorcentaje())"> {{getPorcentaje() / 100 | percent:'1.2-2':'fr'}}
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
</div>