<div *ngIf="grupos" class="container">
  <app-info [id]="'tituloGraficos'" [titulo]="titulo" (regresar)="regresar($event)"></app-info>
  <div class="contenedor">
    <app-select [contenido]="grupos" (changeValue)="actualizarGrupo($event)"></app-select>
    <div>
      <button mat-raised-button color="primary" (click)="haciaParticipacion()">Participación</button>
      <button mat-raised-button color="primary" (click)="haciaPlazo()">Plazo</button>
    </div>
    
    
  </div>

</div>