app-select {
    display: flex;
}

.contenedor {
    display: grid;
    margin-bottom: 20px;
    button {
        border-radius: 6px;
    }
    button:first-child {
        float: left;
    }
    button:last-child {
        float: right;
    }
}

app-select::ng-deep .mat-form-field {
   width: 100%;
}