/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

// @import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom theme
@import '../scss/tema_material.scss';

// specify theme class eg: <body class="my-theme"> ... </body>

  
  // use our theme with angular-material-theme mixin
@include angular-material-theme($my-theme);


html,
body {
    height: 100%;
}

app-modal {
    #eliminar {
        min-width: 300px;
    }
    .botones {
        margin: 0 auto;
        display: inline;
        button:last-child {
            float: right
        }
    }
    .mensaje {
        margin: 20px 0;
        min-height: 100px;
        word-break: break-word;
        max-width: 300px;
        p {
            text-align: center;
            overflow-y: auto;
            max-height: 200px;
        }
    }
}

.swal2-cancel {
    margin-left: 10px;
}

.mat-drawer-container{
    background-color: #F4F7F6
}

body, .mat-form-field, .mat-option, .mat-card {
    margin: 0;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    /* font-family: 'Imprima', sans-serif; */
}

.mat-form-field-appearance-legacy .mat-form-field-label {
    color: #c5c5c5;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: #c5c5c5;
}

.mat-error, .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: #E74C3C;
}