<mat-form-field
    appearance="{{contenido.options.apariencia}}"
    id="{{contenido.data.id}}"
>
    <mat-label *ngIf="contenido.data.label.hasLabel">{{contenido.data.label.texto}}</mat-label>
    <mat-select
        #searchSelect
        placeholder="Escoja uno o más"
        [disableControl]="!contenido.data.isSeteable"
        [required]="contenido.data.isRequired"
        [formControl]="contenido.formControl"
        [errorStateMatcher]="matcher"
        (valueChange)="selectChange($event)"
        multiple
    >
        <div id="buscador_select">
            <mat-icon matPrefix>search</mat-icon>
            <input
                matInput
                placeholder="{{contenido.data.placeholder}}"
                [ngModel]="searchValue"
                (ngModelChange)="buscar($event)"
                [ngModelOptions]="{standalone: true}"
                (keydown)="$event.stopPropagation()"
            >
        </div>
        <mat-option
            #optionSelect
            *ngFor="let option of contenido.data.options"
            [value]="option.id"
            [disabled]="!valido && !optionSelect.selected"
            (keydown)="$event.stopPropagation()"
        >
            {{ option.nombre }}
        </mat-option>
    </mat-select>
    <mat-error *ngIf="contenido.formControl.invalid">{{getErrorMessage()}}</mat-error>
</mat-form-field>
