<div class=" input_fieldset {{contenido.data.clase}}">
    <app-select-content
        *ngIf="instanceOfSelect(contenido.data);else inputs"
        [contenido]="contenido"
        [fieldsetId]="fieldsetId"
        (changeValue)="emitirValueChanged($event)"
    >
    </app-select-content>
    <ng-template #inputs>
        <app-input-content 
            [contenido]="contenido"
            [fieldsetId]="fieldsetId"
            (changeValue)="emitirValueChanged($event)"
        ></app-input-content>
    </ng-template>
</div>
