
<div id="{{info.id}}" class="{{info.class}}"
[draggable] dragHandle=".titulo-modal"
        dragTarget=".mat-dialog-container">
    <div class="titulo-modal">
        <h5>{{info.titulo}}</h5>
        <app-group-buttons [buttons]="closeButton" (clickEvent)="onCloseCancel()"></app-group-buttons>
    </div>
    
    <mat-dialog-content id="dialog-content">
        <ng-content></ng-content>
    </mat-dialog-content>
</div>
