.titulo-modal {
    display: inline-flex;
    position: relative;
    width: calc(100% - 45px);
    left: 20px;
    h5 {
        width: 95%;
        position: relative;
        display: block;
        color: #000000cf;
        margin: 0px;
    }
    app-group-buttons {
        top: -15px;
        width: 5%;
        left: 44px;
        position: relative;
    }
}

.mat-tab-body-wrapper {
    height: inherit;
}

div #dialog-content::ng-deep {
    position: relative;
    top: 10px;
    min-width: 300px;
    app-mat-table {
        padding: 0 10px 10px;
        display: block;
        app-group-buttons .button-row {
            top: 5px;
        }
    }
}