<div *ngIf="!loading" class="container">
  <app-info [id]="'tituloGraficos'" [tituloOpcional]="'Cajas'" [titulo]="titulo" (regresar)="regresar($event)"></app-info>
  <table mat-table [dataSource]="data" class="mat-elevation-z8">
    <!-- Item Column -->
    <ng-container matColumnDef="nombre_cajero">
      <th mat-header-cell *matHeaderCellDef> Vendedor </th>
      <td mat-cell *matCellDef="let crediventa"> {{crediventa.nombre_cajero}} </td>
      <td mat-footer-cell *matFooterCellDef> {{getFinantienda()}} </td>
    </ng-container>

    <!-- Cost Column -->
    <ng-container matColumnDef="venta">
      <th mat-header-cell *matHeaderCellDef> Ventas </th>
      <td mat-cell *matCellDef="let crediventa"> {{crediventa.venta | number:'1.2-2':'fr'}} </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalVentas('cajas') | number:'1.2-2':'fr'}} </td>
    </ng-container>

    <ng-container matColumnDef="plazo">
      <th mat-header-cell *matHeaderCellDef> Plazo </th>
      <td mat-cell *matCellDef="let crediventa"> {{crediventa.plazo | number:'1.2-2':'fr'}} </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalPlazo('cajas') | number:'1.2-2':'fr' }} </td>
    </ng-container>

    <ng-container matColumnDef="participacion">
      <th mat-header-cell *matHeaderCellDef> Part </th>
      <td mat-cell *matCellDef="let crediventa" [style.color]="getColor(crediventa.participacion)"> {{crediventa.participacion/
        100 | percent:'1.2-2':'fr'}} </td>
      <td mat-footer-cell *matFooterCellDef [style.color]="getColor(getTotalParticipacion('cajas'))"> {{getTotalParticipacion('cajas') / 100 | percent:'1.2-2':'fr'}}
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
</div>