<mat-form-field *ngIf="!loading"
        appearance="{{contenido.options.apariencia}}"
        id="{{contenido.data.id}}"
    >
        <mat-label *ngIf="contenido.data.label.hasLabel">{{contenido.data.label.texto}}</mat-label>
        <input
            *ngIf="!contenido.data.label.hasLabel"
            matInput
            type="time"
            name="{{contenido.data.id}}"
            placeholder="{{contenido.data.placeholder}}"
            title="{{contenido.options.title}}"
            [readonly]="!contenido.data.isSeteable"
            [attr.required]="contenido.data.isRequired"
            [formControl]="contenido.formControl"
            [min]="contenido.options.min"
            [max]="contenido.options.max"
            [disableControl]="!contenido.data.isSeteable"
            (input)="operation()"
        >
        <input
            *ngIf="contenido.data.label.hasLabel"
            matInput
            type="time"
            name="{{contenido.data.id}}"
            title="{{contenido.options.title}}"
            [readonly]="!contenido.data.isSeteable"
            [attr.required]="contenido.data.isRequired"
            [formControl]="contenido.formControl"
            [min]="contenido.options.min"
            [max]="contenido.options.max"
            [disableControl]="!contenido.data.isSeteable"
            (input)="operation()"
        >
        <mat-error *ngIf="contenido.formControl.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
