<div *ngIf="!loading" class="container">
  <app-info [id]="'tituloGraficos'"  [titulo]="titulo" (regresar)="regresar($event)"></app-info>
  <app-pie-grafico-dividido
  [porcentaje]="electro.participacion_total"
  [valor_inferior]="electro.plazo_total"
  [titulo]="'Electro'"
  [data_color]="'crediventas'"
  (regresar)="haciaElectro($event)"></app-pie-grafico-dividido>
  <app-pie-grafico-dividido
  [porcentaje]="cajas.participacion_total"
  [valor_inferior]="cajas.plazo_total"
  [titulo]="'Cajas'"
  [data_color]="'crediventas'"
  (regresar)="haciaCajas($event)"></app-pie-grafico-dividido>
</div>
