.info_extra {
    width: calc(100% - 80px);
    text-align: center;
    color: #495057;
    margin: 0 auto;
    border-top-color: rgba(0,0,0,.12);
    display: block;
    border-top-width: 1px;
    border-top-style: solid;
    padding-top: 10px;
}